@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 100%;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
}

fieldset {
  border: 0;
  padding-top: 0;
}

button {
  border: 0;
}

legend {
  padding-top: 0;
  padding-bottom: 0;
}

select,
option {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  background-color: #f3f3f3;
  height: 100%;
  cursor: default;
}

form .input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
form .input label {
  padding: 5px;
  margin-right: 5px;
}

fieldset {
  padding: 10px;
}

legend {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-style: italic;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 5px;
}

button {
  padding: 10px;
  background-color: #ffca55;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.input label {
  flex-basis: 20%;
}
.input input,
.input textarea {
  flex-basis: 80%;
}
.input.radio label:not(:first-child) {
  background-color: #ffda88;
  flex-basis: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.input.radio label:not(:first-child):not(:last-child) {
  margin-right: 25px;
}
.input.radio label:not(:first-child) input {
  width: auto;
  margin-right: 10px;
}
.input.required label::before {
  content: "* ";
  color: red;
}

.col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.col div {
  flex-basis: 50%;
}
.col .col-small {
  flex-basis: 25%;
  text-align: right;
}
.col .col-small label,
.col .col-small input {
  flex-basis: 50%;
}
.col .col-medium {
  flex-basis: calc(100% / 3);
}
.col .col-medium label,
.col .col-medium input {
  flex-basis: 50%;
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-actions button:not(:last-of-type) {
  margin-right: 25px;
}
.form-actions .cancel {
  margin-left: 10px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
}

h1 {
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
}
h1 span {
  padding: 10px;
  background-color: #ffca55;
}

h2 {
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
}
h2 span {
  padding: 10px;
  background-color: #ffca55;
}

.heading-right {
  align-self: flex-end;
  text-transform: none;
  background-color: inherit;
  font-weight: initial;
}
.heading-right:hover {
  background-color: #ffca55;
  transition: all 1s;
}
.heading-right a {
  color: inherit;
  text-decoration-color: #ffca55;
  text-decoration-style: double;
}

html {
  height: 100%;
  overflow-y: scroll;
}

main {
  max-width: 1280px;
  margin: auto;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
}

nav {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
  color: #fff;
}
nav a {
  text-decoration: none;
  color: inherit;
}
nav li {
  list-style-type: none;
  text-transform: uppercase;
  padding: 10px;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul#menu {
  flex-grow: 4;
}
nav ul#user-actions {
  background-color: #ffca55;
}
nav ul#user-actions li a {
  color: #000;
}
nav .container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav #admin_panel {
  background-color: #ffda88;
  color: black;
}
nav #admin_panel ul {
  margin: auto;
}

table {
  width: 100%;
}
table.vertical-table th,
table.vertical-table td {
  padding: 10px;
}

th {
  text-align: left;
  border-color: #ccc;
}
th a {
  text-decoration: none;
}

th,
td {
  padding-bottom: 10px;
  border-style: solid;
  border-bottom-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 10px;
}

td {
  padding-top: 10px;
  border-color: #f3f3f3;
}

a {
  color: inherit;
}

.alert {
  max-width: 1280px;
  margin: 10px auto;
  padding: 25px;
  border-width: 1px;
  border-style: solid;
}
.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.breadcrumb {
  flex-basis: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
}

.categories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

.category-card {
  border: 1px solid #ccc;
  padding: 25px 50px;
  text-align: center;
  flex-basis: calc((100% - 50px) / 5);
  margin: 5px;
}
.category-card > a {
  display: block;
  margin-bottom: 10px;
}
.category-card h5 a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}
.category-card:hover {
  border-color: #ffca55;
  transition: all 1s;
}
.category-card:hover h5 a {
  background-color: #ffca55;
  color: #fff;
  transition: all 1s;
}

#category-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#category-view .cat-image {
  flex-basis: 10%;
  text-align: center;
}
#category-view .cat-image img {
  margin-top: 11px;
}
#category-view .cat-description {
  flex-basis: 90%;
}

.container {
  max-width: 1280px;
  margin: auto;
}

main .container {
  background-color: #fff;
  padding: 10px;
}

#homepage .promotion-card {
  flex-basis: calc((100% - 30px) / 3);
}
#homepage .promotion-card .promotion-description {
  text-align: center;
}

#layout-small main {
  max-width: 500px;
}

.promotions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}
.promotions-container h2 {
  flex-basis: 100%;
  margin: 5px;
}

.promotion-card {
  text-align: center;
  flex-basis: calc((100% - 40px) / 4);
  margin: 5px;
}
.promotion-card h5 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.promotion-card h5 a {
  text-decoration: none;
  color: inherit;
}
.promotion-card:hover img {
  transform: scale(1.5);
  transition: all 0.8s;
}
.promotion-card .promotion-img-wrapper {
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  height: 200px;
  display: flex;
  align-items: center;
}
.promotion-card .promotion-img-wrapper img {
  width: 100%;
}
.promotion-card p {
  font-size: 0.8rem;
  margin: 5px auto;
  width: 80%;
}
.promotion-card .promotion-description {
  text-align: justify;
}
.promotion-card .promotion-price {
  text-align: center;
  margin-top: 10px;
}
.promotion-card .promotion-price .price-new {
  font-weight: bold;
  font-size: 1.5rem;
}
.promotion-card .promotion-price .price-original {
  text-decoration: line-through;
  color: #303030;
}

#promotion-detailed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#promotion-detailed .promotion-gallery {
  flex-basis: calc((100% - 10px) / 2);
}
#promotion-detailed .promotion-info {
  flex-basis: calc((100% - 10px) / 2);
  margin-left: 10px;
}
#promotion-detailed .promotion-info p {
  font-size: 0.8rem;
}
#promotion-detailed .promotion-info h2 {
  margin-top: 25px;
}
#promotion-detailed #promotion-price {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
}
#promotion-detailed #promotion-price p:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
}
#promotion-detailed .promotion-image-main {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

.user-form label {
  flex-basis: 30%;
}
.user-form input {
  flex-basis: 70%;
}

.button {
  background-color: #ffca55;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.navbar-brand {
  text-transform: uppercase;
  background-color: #ffca55;
  color: #000;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
}

.paginator {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px;
}
.paginator ul {
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.paginator ul li {
  list-style-type: none;
}
.paginator ul li.prev, .paginator ul li.next {
  background-color: #000;
  color: #f3f3f3;
  font-size: 1.2rem;
}
.paginator ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
.paginator #paginator-counter {
  margin-left: 10px;
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
